<div class="center jumbotron">
  <h1>Welcome to SPIRIT in ESRD message board</h1>
  <h2>
    &nbsp;
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>



</div>