<h1>SPIRIT in ESRD</h1>

<p>Hello <%= @user.first_name %>,</p>

<p>
Welcome to the SPIRIT in ESRD discussion board! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>