Hello <%= @user.first_name %>,

Welcome to the SPIRIT in ESRD discussion board! Click on the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>