<li>
  <div>
    <div class="avatar-circle-sm col-4" style="float:left">
      <span class="initials">
        <%= link_to "#{user.first_name[0]} #{user.last_name[0]}", user %>
      </span>
    </div>
    <div class="col-8" style="float:left;padding:10px;font-size:22px;">
      <%= link_to "#{user.first_name} #{user.last_name}", user %>
      <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
                                      data: { confirm: "You sure?" } %>
      <% end %>
    </div>
  </div>
</li>