<% provide(:title, @user.first_name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      

<h1>
          <%= @user.first_name %>&nbsp;<%= @user.last_name %><br>
</h1>
        <%= @user.credentials %><br>
        <%= @user.state %><br>
        <%= @user.phone_number %><br>
        <%= @user.email %><br>
        <%= @user.created_at %><br>
        <%= @user.updated_at %><br>
      
    </section>
  </aside>
</div>