<!-- -->
        <div class="herald">
          <%= link_to image_tag("spirit-logo-icon-104-89.png", height: "50", id: "logo-nav-h", alt: "SPIRIT logo"), root_path  %>&nbsp;
          <span>SPIRIT in ESRD</span>
        </div>